.Article{
    box-sizing: border-box center;
    content: center;
    width: 80%;
    margin:auto;
    overflow:hidden;
    padding-bottom: 100px;
    
}


.introductiebox{   
    box-sizing: border-box center;
    content: center;

    
}


.containerSmartMe{
    box-sizing: border-box center;
    content: center;
    width: 80%;
    margin:auto;
    overflow:hidden;

}

#buttonterugnaarhome{
    background-color:grey;
    color:#fff;
    padding: left;
    width: 200px;
    

}

.containerPlantWaterSystem{
    background-color: black;

}

#tablePCBSol{
    background-color: lightgrey;
    padding: 50px; 
}


