.tab-content{
    padding: 100px;
}



.Article{
    box-sizing: border-box center;
    content: center;
    width: 80%;
    margin:auto;
    overflow:hidden;
    padding-bottom: 100px;
    
}

.introductiebox{   
    box-sizing: border-box center;
    content: center;

}

.containerSmartMe{
    box-sizing: border-box center;
    content: center;
    width: 80%;
    margin:auto;
    overflow:hidden;

}

#buttonterugnaarhome{
    background-color:grey;
    color:#fff;
    padding: left;
    width: 200px;
    

}

.containerPlantWaterSystem{
    background-color: black;

}

#tablePCBSol{
    background-color: lightgrey;
    padding: 50px; 
}

/*TEST*/
.navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  